PORT=5000
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/tu_db
JWT_SECRET=tu_jwt_secreto_aqui
SESSION_SECRET=tu_session_secreto_aqui
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret
EMAIL_USER=tuemail@gmail.com
EMAIL_PASS=xxxx xxxx xxxx xxxx
ADMIN_EMAIL=tu.correo.com
